{% extends "app/layout.html" %}

{% block content %}

<div style='margin-top:100px;'>
    <form method='POST'> {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Register</button>
    </form>
</div>

{% endblock %}