body
{
    margin: 0;
    padding: 0;
    background-color:#fff;
    font-family: 'Arvo';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #778899;
        border-radius: 15px ;

}



.containerSettings{
    padding: 16px;
}

.containerSettings {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.containerSettings input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.containerSettings:hover input ~ .checkmark {
  background-color: #ccc;
}

.containerSettings input:checked ~ .checkmark {
  background-color: #FF9933;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containerSettings input:checked ~ .checkmark:after {
  display: block;
}

.containerSettings .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


input[type=text]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.discardbtn {
    background-color: #FF413B;
    color: white;
    padding: 16px 25px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 25.7%;
    opacity: 0.9;
}

.discardbtn:hover {
    opacity:1;
}

.submitbtn {
    FONT-WEIGHT: 600;
    background-color: #50ce00;
    color: white;
    padding: 16px 25px;
    margin 10px 0;
    border: none;
    cursor: pointer;
    width: 25.7%;
    opacity: 0.9;
}

.submitbtn:hover {
    opacity:1;
}


.cancelbtn {
    background-color: #FF413B;
    color: white;
    padding: 16px 25px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 25.7%;
    opacity: 0.9;
}

.cancelbtn:hover {
    opacity:1;
}

.savebtn {
    FONT-WEIGHT: 600;
    background-color: #50ce00;
    color: white;
    padding: 16px 25px;
    margin 10px 0;
    border: none;
    cursor: pointer;
    width: 25.7%;
    opacity: 0.9;
}

.savebtn:hover {
    opacity:1;
}


h1{
    text-align: center;
    color: black;  
    padding: 20px;  
    font-size: 300%;
}
  
h2{
    text-align: center;
    color: #000000;
    padding: 20px;
}
label{
    color: #000000;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
span{
    color: #FFD700 ;
    font-size: 17px;
}
a{
    float: right;
    // background-color: grey;
}