{% load widget_tweaks %}

<style>
  .img_fit {
      height: 100%;
      width: 100%;
      object-fit: cover;
} 
</style>

<div class="modal-header">
  <h3 class="modal-title">Vendors</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <table id="vendors" class="table table-hover"> 
      {% comment %} <thead> <tr> <th class="text-center" scope="col"> Vendors </th> </tr> </thead> {% endcomment %}
      <tbody> 
        {% for vendor in Vendors %} 
          <tr>
            <td class="text-center"> <a href="{{vendor.path}}" target= "_blank" >{{vendor.name}} </a> </td> 
          </tr>
        {% endfor %} 
    </tbody>
    </table>
    

</div>

<div class="modal-footer">
  {% if global_settings.allow_inventory_changes and perms.app.change_vendor %}
  <a href="{% url 'VendorList' item.pk %}" class="order-item btn btn-primary">
   Update
     </a> 
     {% endif %}
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
