{% load widget_tweaks %}

<style>
  .img_fit {
      height: 100%;
      width: 100%;
      object-fit: cover;
} 
</style>

<div class="modal-header">
  <h3 class="modal-title">Item details</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="">
    {% if item.image_path != "" %}
      <img src="{{ item.image_path }}" class="img_fit"/>
      <hr/>
    {% endif %}
  </div>
  <div class="">
    <b>Part #:</b>
    {{ item.part_number }}
  </div>
  <div class="">
    <b>Name:</b>
    {{ item.title }}
  </div>
  <div class="">
    <b>Current Stock:</b>
    {{ item.stock }}
  </div>
  <div class="">
    <b>Threshold:</b>
    {{ item.threshold }}
  </div>

  

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>