{% load widget_tweaks %}



<form method="post" action="">
  {% csrf_token %}
  <div class="modal-header">
    <h3 class="modal-title">Delete User</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p class="delete-text">Are you sure you want to delete user <strong>{{ person.first_name }} {{ person.last_name }}</strong> with username
      <strong>{{ person }}</strong>?</p>
  </div>

  <div class="modal-footer">
    {% if perms.app.delete_customuser %}
    <button type="submit" id="delete-btn" class="btn btn-danger">Delete</button>
    {% endif %}
  </div>

</form>