{% extends 'app/layout.html' %}

{% block content %}
<head>    
  <title>Inventory</title>
<!--    <link rel="stylesheet" type="text/css" href="css/style2.css">-->
  {% load static %}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'app/content/style.css' %}" /> -->
  <style>
		h2{
   			 text-align: center;
   			 color: #000000;
  			  padding: 20px;
   			 text-decoration: overline underline;
		}

		h3{
            text-align: center;
            text-decoration: underline;
        }

    .nostretch{
        width: 100px !important; 
      }
        
	</style>
</head>   


  <br><br>
  <!-- <h2 style="text-decoration: underline overline;">Inventory</h2><br> -->
  <div class="container mt-5 mb-5"></div>
    <h1 class="modal-title text-center">Inventory</h1>
  </div>
  {% include "app/_modal.html" %}

  <div class="container mt-3">
    
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12 mb-4">
            <form name="searchform" method="GET" action="{% url 'inventory_index' %}">
              <div class="d-flex">
                <select name="searchby"  class="nostretch form-select" id="searchby" class="searchby" {% if searchby == "all" %} style="display:none;" {% endif %} >
                  <option value="all" {% if searchby == "all" %} selected {% endif %}>All</option>
                  <option value="name" {% if searchby == "name" %} selected {% endif %}>Name</option>
                  <option value="part" {% if searchby == "part" %} selected {% endif %}>Part #</option>
                </select>

                <input class=" form-control"  type="search" aria-label="Search" name="searched" value="{{searched}}" id="searchbar" oninput="this.value = this.value.replace(/\//, '');">
                <button class="ml-auto btn btn-primary" type="submit" id="search_submit">Search</button>
                <button class="ml-auto btn btn-secondary" type="button" id="editsearch" name="editsearch"><i class="fa-solid fa-gear"></i></button>
              </div>
            <form>
          </div>
          <div class="col-12 mb-3">
            {% if global_settings.allow_inventory_changes %}
            <!-- <button id="create-item-sync" class="btn btn-primary" type="button" name="button">
              <span class="fa fa-plus mr-2"></span>Create Item - Synchronous
            </button> -->
            <button id="create-item-async" class="btn btn-primary" type="button" name="button">
              <span class="fa fa-plus mr-2"></span>Create Item 
            </button>
            {% endif %}
          </div>
          <div class="col-12 mb-3">
          {% include "app/inventory/table.html" %}
          <!-- % include "app/_paging.html" % -->
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
  var tag = document.getElementById('searchby');
  var button = document.getElementById('editsearch');
  button.onclick = function() {
  if (tag.style.display == "block") {
    tag.style.display = "none";
  } else {
    tag.style.display = "block";
  }
}
</script>
<script type="text/javascript">
  $(function () {
      // Create book asynchronous button
      // message
      var asyncSuccessMessageCreate = [
        "<div ",
        "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
        "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
        "Success: Item was created.",
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
        "<span aria-hidden='true'>&times;</span>",
        "</button>",
        "</div>",
        "<script>",
        "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
        "<\/script>"
      ].join("");

      // modal form
      function createBookAsyncModalForm() {
        $("#create-item-async").modalForm({
            formURL: "{% url 'create_item' %}",
            modalID: "#create-modal",
            asyncUpdate: true,
            asyncSettings: {
              closeOnSubmit: true,
              successMessage: asyncSuccessMessageCreate,
              dataUrl: "{% if searched %}items/{{page_obj.number}}/{{searchby|slugify}}/{{searched|slugify}}{% else %}items/{{page_obj.number}}{% endif %}",
              dataElementId: "#items-table",
              dataKey: "table",
              addModalFormFunction: reinstantiateModalForms
            }
        });
      }
      createBookAsyncModalForm();

      // Update book asynchronous button
      // message
      var asyncSuccessMessageUpdate = [
        "<div ",
        "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
        "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
        "Success: Item was updated.",
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
        "<span aria-hidden='true'>&times;</span>",
        "</button>",
        "</div>",
        "<script>",
        "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
        "<\/script>"
      ].join("");

      // modal form
      function updateItemModalForm() {
        $(".update-item").each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url"),
            asyncUpdate: true,
            asyncSettings: {
              closeOnSubmit: false,
              successMessage: asyncSuccessMessageUpdate,
              dataUrl: "{% if searched %}items/{{page_obj.number}}/{{searchby|slugify}}/{{searched|slugify}}{% else %}items/{{page_obj.number}}{% endif %}",
              dataElementId: "#items-table",
              dataKey: "table",
              addModalFormFunction: reinstantiateModalForms
            }
          });
        });
      }
      updateItemModalForm();
      
      //Order Item button
      function orderItemModalForm() {
        $(".order-item").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
      }
      orderItemModalForm();

      // Delete Item buttons - formURL is retrieved from the data of the element
      function deleteItemModalForm() {
        $(".delete-item").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
      }
      deleteItemModalForm();

      // Read item buttons
      function readItemModalForm() {
        $(".read-item").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url")});
        });
      }
      readItemModalForm();

      function reinstantiateModalForms() {
        createItemAsyncModalForm();
        readItemModalForm();
        updateItemModalForm();
        deleteItemModalForm();
        orderItemModalForm();
      }

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function () {
          $(".alert").slideUp(500);
      });

  
  });
</script>
<script type="text/javascript">
    $(function () {

    function toggleSearch() {
      var search_submit_var = document.getElementById("search_submit");
      if ($(this).style.display == "block") {search_submit_var.disabled=true;}
      else {search_submit_var.disabled=false;}
    }

    // Read item buttons
    function suppressSearch() {
      $("#exampleModal").each(function () {

        $(this).on('shown.bs.modal', function () {
          // will only come inside after the modal is shown/visible
          var search_submit_var = document.getElementById("search_submit");
          search_submit_var.disabled=true;
        });
        $(this).on('hidden.bs.modal', function () {
          // will only come inside after the modal is shown/visible
          var search_submit_var = document.getElementById("search_submit");
          search_submit_var.disabled=false;
        });
      });
    }
    suppressSearch();

});
</script>
{% endblock extrascripts %}
