<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,inital-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>404</title>
    </head>
    <body>
    <center>
        <h1>404. File not Found</h1>
        <img src="https://cdn.pixabay.com/photo/2016/05/30/14/23/detective-1424831_960_720.png">
    </center>
    </body>
</html>


<!--{% endblock %}-->