{% extends 'app/layout.html' %}

{% block content %}
<head>    
  <title>Users</title>
<!--    <link rel="stylesheet" type="text/css" href="css/style2.css">-->
  {% load static %}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'app/content/style.css' %}" /> -->
  <style>
		h2{
   			 text-align: center;
   			 color: #000000;
  			  padding: 20px;
   			 text-decoration: overline underline;
		}

		h3{
            text-align: center;
            text-decoration: underline;
        }

    .nostretch{
        width: 100px !important; 
      }
        
	</style>
</head>   


  <br><br>
  <!-- <h2 style="text-decoration: underline overline;">Inventory</h2><br> -->
  <div class="container mt-5 mb-5"></div>
    <h1 class="modal-title text-center">Users</h1>
  </div>

  
  <div>
    {% if perms.app.add_customuser %}
      <a href="{% url 'signup' %}">
        <button type="button" class="btn btn-primary" id="add_user_button" style="margin:0 auto; display:block;" >Add New User </button>
      </a>
      <br>
    {% endif %}
    </div>  
  {% include "app/_modal.html" %}

  <div class="scrollbar scrollbar-primary">
    <div class="force-overflow"></div>
  </div>

  <div class="container mt-3">
    
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12 mb-3">
          {% include "app/people/table.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extrascripts %}
<script type="text/javascript">
  var tag = document.getElementById('searchby');
  var button = document.getElementById('editsearch');
  button.onclick = function() {
  if (tag.style.display == "block") {
    tag.style.display = "none";
  } else {
    tag.style.display = "block";
  }
}
</script>
<script type="text/javascript">
  $(function () {

      //  Signup
      // $("#signup-btn").modalForm({
      //   formURL: "{% url 'create_item' %}", // replace create_item with signupname
      // });


      // Update book asynchronous button
      // message
      var asyncSuccessMessageUpdate = [
        "<div ",
        "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
        "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
        "Success: User was updated.",
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
        "<span aria-hidden='true'>&times;</span>",
        "</button>",
        "</div>",
        "<script>",
        "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
        "<\/script>"
      ].join("");

      // modal form
      function updateUserModalForm() {
        $(".update-user").each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url"),
            asyncUpdate: true,
            asyncSettings: {
              closeOnSubmit: false,
              successMessage: asyncSuccessMessageUpdate,
              dataUrl: "people/",
              dataElementId: "#user-table",
              dataKey: "table",
              addModalFormFunction: reinstantiateModalForms
            }
          });
        });
      }
      updateUserModalForm();

      // Delete User buttons - formURL is retrieved from the data of the element
      function deleteUserModalForm() {
        $(".delete-user").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
      }
      deleteUserModalForm();

      function reinstantiateModalForms() {
        updateUserModalForm();
        deleteUserModalForm();
      }

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function () {
          $(".alert").slideUp(500);
      });

  
  });
</script>
<script type="text/javascript">
    $(function () {

    function toggleSearch() {
      var search_submit_var = document.getElementById("search_submit");
      if ($(this).style.display == "block") {search_submit_var.disabled=true;}
      else {search_submit_var.disabled=false;}
    }

    // Read user buttons
    function suppressSearch() {
      $("#exampleModal").each(function () {

        $(this).on('shown.bs.modal', function () {
          // will only come inside after the modal is shown/visible
          var search_submit_var = document.getElementById("search_submit");
          search_submit_var.disabled=true;
        });
        $(this).on('hidden.bs.modal', function () {
          // will only come inside after the modal is shown/visible
          var search_submit_var = document.getElementById("search_submit");
          search_submit_var.disabled=false;
        });
      });
    }
    suppressSearch();

});
</script>
{% endblock extrascripts %}
