{% extends "app/layout.html" %}

{% block content %}
    <br><br>
    <div class="container mt-5 mb-5">
        <h1 class="modal-title text-center">{{ title }}</h1>
    </div>

    <div class="container mt-3">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col ">
                <h3>{{ message }}</h3>
                <p>This is currently in development.<br>
                    Expected to finish in upcoming 2022.</p>
                    <!-- <hr> -->
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}