{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!--<div class="row">-->
<!--    <div class="col-md-4">-->
<!--        <h2>Getting started</h2>-->
<!--        <p>-->
<!--            Django gives you a powerful, patterns-based way to build dynamic websites that-->
<!--            enables a clean separation of concerns and gives you full control over markup-->
<!--            for enjoyable, agile development.-->
<!--        </p>-->
<!--        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--        <h2>Get more libraries</h2>-->
<!--        <p>The Python Package Index is a repository of software for the Python programming language.</p>-->
<!--        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>-->
<!--    </div>-->
<!--    <div class="col-md-4">-->
<!--        <h2>Microsoft Azure</h2>-->
<!--        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>-->
<!--        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}
