{% extends "app/layout.html" %}

{% block content %}



<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="../../static/app/content/style.css">
</head>

<br><br>
<h2>{{ title }}</h2>

<div class="login">
    {% if form.errors %}
<!--    <p class="validation-summary-errors">Please enter a correct user name and password.</p>-->
    <p style="color:yellow;">Please enter a correct user name and password.</p>
    <hr /> <!-- this adds a line-->
    {% endif %}

    <section id="loginForm">
        <form id="login" action="." method="post" class="form-horizontal">
            {% csrf_token %}
<!--            <hr />-->
            <div class="form-group">
                <label name="Uname" id="Uname">Username</label>
                <div class="col-md-10" placeholder="Username">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                <label name="Pass" id="Pass">Password</label>
                <div class="col-md-10">
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="hidden" name="next" value="{{  next|urlencode }}" />
                    <input id ="log" name="log" type="submit" value="Log In Here" class="button" />
                </div>
            </div>
            <input type="checkbox" id="check">
            <span>Remember me</span>
            <br><br>
        </form>
    </section>

    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
