{% extends "app/layout.html" %}

{% block content %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'app/content/style2.css' %}" />

    <head>
        <br><br>
        <title>Change Password</title>

    </head>
    <body>
        <h2>Change Password</h2>

        <form method="post">
            <br><br>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>

    </body>

  {% endblock %}