{% extends "app/layout.html" %}

{% block content %}

<head>    
    <!--    <link rel="stylesheet" type="text/css" href="css/style2.css">-->
        <title>{{ title }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/content/style2.css' %}" />
    
    <!-- <script async src='/cdn-cgi/bm/cv/669835187/api.js'> -->
    </script>

</head>
<br><br><br><br><br>
<body>

    <h2>Profile</h2>

    <form action="." method="post">{% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr><td colspan="2">
                <input type="submit" class="btn btn-primary"/>
            </td></tr>
        </table>
    </form>

    <br>
    <p style="font-size: 16px;" >To change your password, <a href="{% url 'change_password' %}">CLICK HERE</a></p>
</body>

{% endblock %}